@import "./icons";
@import "./reset";
@import "./layout";
@import "./common";

html {
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  font-family: "PingFang SC","Hiragino Sans GB", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;

  body {
    overflow: auto;
    height: 100%;
    .body-root {
      min-width: 1200px;
    }
  }
}

* {
  box-sizing: border-box;
}

.relative {
  position: relative;
}
.pointer {
  cursor: pointer;
}

.border-radius-2 {
  border-radius: 2px;
}
.border-radius-4 {
  border-radius: 4px;
}
